<!-- <div class="row m-2 justify-content-md-between">
    <ng-container *ngFor="let item of cardData">
        <div [class]="'col-sm-' + columnSize">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{item[item.short_key]}}</h5>
                    <p class="card-text">{{item.name | translate}}</p>
                </div>
                <div class="m-3">
                    <img [src]="item.indicator_icons" class="card-img-top" [alt]="item.name" width="40px" height="40px">
                </div>
            </div>
        </div>
    </ng-container>
</div> -->

<div class="row justify-content-between align-item-center">
    <ng-container *ngFor="let item of cardData">
        <div [ngClass]="'col-sm-' + columnSize"  class="borderRadius py-3">
            <mat-card class="example-card">
                <mat-card-title>{{item[item.short_key] ? item[item.short_key] : item.value}}</mat-card-title>
                <mat-card-content>
                  <p class="text-truncate">{{item.name ? item.name : item.key | translate}}</p>
                </mat-card-content>
                <img mat-card-image *ngIf="item?.indicator_icons" [src]="item.indicator_icons" class="card-img-top iconMAxWidth m-0" [alt]="item.name" >
              </mat-card>
        </div>
    </ng-container>
</div>

