<div class="row align-item-center m-2 p-1">
    <span class="row align-item-center m-2">
        <span class="mx-1"><mat-icon>keyboard_backspace</mat-icon></span>
        <span class="font-weight-bold">Resource Center /</span>
        <span class="mx-1">{{categoryName}}</span>
    </span>
</div>

<div class="row columnGap align-item-center m-2 p-2">
    <ng-container *ngFor="let resourceView of resourceViewData">
        <div class="col-md-3 col-sm-6 reviewBackground" (click)="resourceDownload(resourceView.id)">
            <div class="row justify-content-between align-item-center">
                <div class="col-md-8">
                    <div class="row justify-content-between align-item-center">
                        <div class="col-md-4 m-auto">
                           <img src="../../../../../assets/resource/folder.png" class="w-100">
                        </div>
                        <div class="col-md-8 m-auto p-2">
                            <p class="m-0">{{resourceView.name}}</p>
                            <p>Created on: {{resourceView.createdAt | date : 'shortDate'}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 m-auto">
                   <span class="font-weight-bold defaultColor">{{resourceView['subcategoryreport.count']}}</span> files
                </div>
            </div>
        </div>
    </ng-container>
</div>

 <div class="row columnGap m-2">
    <ng-container *ngFor="let item of resourceReport">
        <mat-card class="example-card col-md-4">
            <ng-container [ngSwitch]="item.link.split('.').reverse()[0]">
                <ng-container *ngSwitchCase="'docx'">
                    <img mat-card-image src="../../../../../assets/resource/docx.png">
                </ng-container>
                <ng-container *ngSwitchCase="'pdf'">
                    <img mat-card-image src="../../../../../assets/resource/pdf.png">
                </ng-container>
                <ng-container *ngSwitchDefault>
                    <img mat-card-image [src]="item.link">
                </ng-container>
                
            </ng-container>
            <hr>
            <mat-card-actions>
              <div class="row justify-content-between align-item-center">
                <div class="col-md-10">
                    <h4 class="text-truncate">{{item.name | translate}}</h4>
                    <p>{{item.createdAt | date : 'shortDate' }}</p>
                </div>
                <div class="col-md-2">
                    <a [href]="item.link" target="_blank" download><mat-icon class="defaultColor cursor">download</mat-icon></a>
                </div>
              </div>
            </mat-card-actions>
          </mat-card>
    </ng-container>
 </div>