<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <span class="navbar-brand">
            <img src="/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30"
                class="d-inline-block align-top" alt="">
        </span>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navigation links on the right side -->
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <ng-container *ngFor="let item of publicHeader; let i=index">
                   <ng-container *ngIf="!['Join Now','Login'].includes(item.label); else loginInfo">
                    <li class="nav-item" [routerLinkActive]="item?.isActive ? 'active' : ''">
                        <a class="nav-link" [routerLink]="item?.routeUrl">{{item?.label}}</a>
                    </li>
                   </ng-container>
                   <ng-template #loginInfo>
                    <li class="nav-item" [routerLinkActive]="item?.isActive ? 'active' : ''">
                        <!-- <a class="nav-link" [routerLink]="item?.routeUrl" click="openDialog()">{{item?.label}}</a> -->
                        <button mat-button (click)="openDialog()">{{item?.label}}</button>
                    </li>
                   </ng-template>
                </ng-container>
                

                <!-- Common Language -->
                <ng-container>
                    
                    <!-- <mat-icon (click)="languageDropdown()">language </mat-icon>
                    <app-menu #menuRef></app-menu> -->
                    <!-- <button mat-button (click)="menuRef.toggleMenu()">
                        <mat-icon (click)="languageDropdown()">language </mat-icon>
                    </button> -->
                </ng-container>
            </ul>
            <!-- <ul class="navbar-nav">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/link">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" routerLink="#">Action</a>
                        <a class="dropdown-item" routerLink="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" routerLink="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" routerLink="#">Disabled</a>
                </li>
            </ul> -->
        </div>
    </div>
</nav>