.backGroundColor{
    background-color: #00625F;
}
.textColor{
    color: white;
}

.backGroundImageBanner{
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.defaultColor{
    color: #00625F;
}
:hover .imageHover{
    // transform: scale(1.1);
}
.imageBorder{
    border-left: 10px solid #00625F;
    border-bottom: 10px solid #00625F;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.shadow{
    box-shadow: 0 2px 5px;
}
.imageContainer{
    animation: drift 25s linear infinite;
  }
