<div class="row justify-content-end m-0" *ngIf="formType.title != 'otpVerification'">
   <span class="defaultColor"><mat-icon mat-dialog-close>close</mat-icon></span>
</div>
<h2 mat-dialog-title class="text-center defaultColor">{{formType.title | translate}}</h2>
<p *ngIf="formType.title == 'otpVerification'" class="text-center">{{formType.message | translate}}</p>
<mat-dialog-content class="mat-typography">
  <div *ngIf="['login','joinNow'].includes(formType.title)">
   <div>
    <app-common-form [fields]="formType.formField" (dialogCloseEvent)="closeDialog($event)" *ngIf="formType.title != 'otpVerification'" [isButtonStyle]="true" [buttonText]="formType.title == 'joinNow' ? 'signup' : formType.title"></app-common-form>
   </div>
    <div class="row align-content-between justify-content-center m-2" >
      <div class="text-center" *ngIf="formType.title == 'login'">
          New User ? <span class="defaultColor" (click)="closeDialog('joinNow')">Register</span>
      </div>
      <div class="text-center" *ngIf="formType.title == 'joinNow'">
          Existing User? <span class="defaultColor" (click)="closeDialog('login')">Login</span>
      </div>
  </div>
  </div>
  <div class="row" *ngIf="formType.title == 'otpVerification' ">
    <div class="mx-auto">
      Please enter the 6-digit OTP, we have sent on your email id <span class="defaultColor"> {{formType.email}} </span>
    </div>
    <div class="row justify-content-center align-item-center p-md-5">
      <app-common-form [fields]="formType.formField" (dialogCloseEvent)="closeDialog($event)" [buttonText]="'verify'" [isButtonStyle]="true"></app-common-form>
    </div>
    <div class="mx-auto p-2">
      <p>
        OTP will be valid for 10 minutes.
      </p>
    </div>
    <div class="col-md-12 text-center">
      <p (click)="resendOTP()" *ngIf="!isCountShow">
        Resend OTP
      </p>
      <p *ngIf="isCountShow">
        Resend OTP in {{otpCount}} seconds
      </p>
    </div>
  </div>
</mat-dialog-content>

