<div class="row m-2 align-item-center">
    <app-toggle-button [toggle]="toggleButtons" (toggleClick)="toggleAction($event)"></app-toggle-button>
</div>

<div class="row m-2">
    <app-mat-tab [selectedTabs]="tabButton" (tabMenuClick)="tabMenuAction($event)"></app-mat-tab>
</div>

<div class="row m-2 align-item-center">
    <app-toggle-button [toggle]="child" (subToggleClick)="subToggleAction($event)"
        [type]="'subType'"></app-toggle-button>
</div>

<div class="row justify-content-md-between m-3 md-3" *ngIf="false">
    <ng-container *ngFor="let tab of currentTab; let i=index">
        <div class="col-md-6" [ngClass]=" tab === 'programViewCard' ? '' : 'mat-card my-3' ">
            <ng-container
                *ngTemplateOutlet="dashboardTemplate; context:{data : dashboardData[tab][0].data , index : i,key:tab}"></ng-container>
        </div>
    </ng-container>
</div>


<ng-template #insideDashboard let-insideItem="insideData" let-imageKey="image" let-isButton="button">
    <div class="row px-4 py-1 justify-content-between align-item-center">
        <div class="">
           <div class="row">
            <img *ngIf="insideItem[imageKey]" [src]="insideItem[imageKey]" [alt]="insideItem[imageKey]" width="40px" height="40px">
            <h4 class="defaultColor font-weight-bold mt-2">{{insideItem?.name ? insideItem.name : insideItem?.heading ? insideItem?.heading :
                insideItem?.question_label |translate}}</h4>
            </div>
           </div>
        <div class="" *ngIf="isButton">
            <span class="row" style="gap: 10px;">
                <span>
                    <app-button [buttonText]="social | translate" (commonButtonEvent)="handleProgramView($event)"></app-button>
                </span>
                <span>
                    <app-button [buttonText]="environmental | translate" (commonButtonEvent)="handleProgramView($event)"></app-button>
                </span>
                <span>
                    <app-button [buttonText]="building | translate" (commonButtonEvent)="handleProgramView($event)"></app-button>
                </span>
            </span>
        </div>
    </div>
</ng-template>

<ng-template #dashboardTemplate let-item="data" let-i="index" let-type="key">
    <ng-container *ngFor="let value of item; let j=index">
        <ng-container *ngIf="type === 'country' && j < 1 && currentSubTab === 'impactSummary' ">
            <div class="col-md-12 mat-card">
                World Map
              <ng-container *ngTemplateOutlet="insideDashboard; context:{insideData : value,image : 'country_icons'}"></ng-container>
            </div>
        </ng-container>

        <ng-container  *ngIf="['programViewCard'].includes(type) && j < 1 && currentSubTab === 'impactSummary'">
            <app-card [columnSize]="type === 'socialCard' ? '6' : '4'" [cardData]="item"></app-card>
        </ng-container>

        <ng-container *ngIf="['pie','groupBar','programViewIpsa'].includes(type) && currentSubTab === 'impactSummary'">
            <ng-container *ngIf="type === 'pie'">
                <div class="mat-card">
                    <ng-container *ngTemplateOutlet="insideDashboard; context:{insideData : value,image : 'indicator_icons'}"></ng-container>
                    <app-pie [pieChartId]="'pie_' + type + (i+1+j)" [pieData]="value.short_key"></app-pie>
                </div>
            </ng-container>
            <ng-container *ngIf="type === 'groupBar'">
                <div class="col-md-12 mat-card">
                    <ng-container  *ngTemplateOutlet="insideDashboard; context:{insideData : value,image : 'indicator_icons'}"></ng-container>
                    <app-groupBar [groupBarChartId]="'groupBar_' + type + (i+1+j)" [groupBarData]="value.details"></app-groupBar>
                </div>
            </ng-container>
            <ng-container *ngIf="type === 'programViewIpsa'">
                <div class="col-md-6" *ngIf="value?.headers?.length">
                    <ng-container *ngTemplateOutlet="insideDashboard; context:{insideData : value,image : ''}"></ng-container>
                    <app-common-table [displayedColumns]="value.headers" [values]="value.values" *ngIf="value?.headers?.length"></app-common-table>
                </div>
            </ng-container>
            <ng-container *ngIf="type === 'programViewIpsa'">
                <div class="row justify-content-md-between m-3" *ngIf="ipsaIndex === j" >
                    <div class="col-md-3" *ngIf="type === 'programViewIpsa' && (ipsaIndex === j)" >
                        <app-card [columnSize]="'12'" [cardData]="item[0].values" *ngIf="type === 'programViewIpsa' && !value?.headers?.length && ipsaIndex === j"></app-card>
                    </div>
                    <div class="mat-card col-md-9" *ngIf="type === 'programViewIpsa' && ipsaIndex === j" >
                        <ng-container *ngTemplateOutlet="insideDashboard; context:{insideData : value,image : '',button:true}"></ng-container>
                        <app-line [lineChartId]="'line_' + type + '_' + (i+j+1)" [lineData]="value.values"></app-line>
                    </div>
                </div>
            </ng-container>
        </ng-container>

        <!-- social Impact start -->
        <ng-container  *ngIf="['socialCard','socialPie','socialTimeLine','socialGroupBar'].includes(type)  && currentSubTab === 'socialImpact'" style="border: 2px solid blue;">
            <ng-container *ngIf="type === 'socialCard' && j < 1">
                <ng-container *ngIf="childTab !== 'OHS'">
                    <div class="col-md-12">
                        <app-card [columnSize]="type === 'socialCard' ? '12' : '4'" [cardData]="item"></app-card>
                    </div>
                </ng-container>
            </ng-container>
            
            <ng-container *ngIf="type === 'socialTimeLine'">
                <ng-container *ngIf="childTab === value.theme_name">
                    <div class="mat-card my-3" [ngClass]="childTab === 'OHS' ? 'col-md-12' : 'col-md-6'">
                        <ng-container  *ngTemplateOutlet="insideDashboard; context:{insideData : value,image : 'indicator_icons'}"></ng-container>
                        <app-groupBar [groupBarChartId]="'socialTimeLine'+ type + (i+1+j)" [groupBarData]="value.short_key"></app-groupBar>
                    </div>
                </ng-container>
            </ng-container>
            <ng-container *ngIf="type === 'socialPie'">
                <ng-container *ngIf="value.theme_name == childTab">
                    <div class="col-md-6 mat-card my-3">
                        <ng-container *ngTemplateOutlet="insideDashboard; context:{insideData : value,image : 'indicator_icons'}"></ng-container>
                     <app-pie [pieChartId]="'pie_' + type + (i+1+j)" [pieData]="value.short_key"></app-pie> 
                    </div>
                </ng-container>
            </ng-container>
            <ng-container *ngIf="type === 'socialGroupBar'">
                <ng-container *ngIf="childTab === value.theme_name">
                    <div class="mat-card my-3" [ngClass]="childTab === 'Women empowerment' ? 'col-md-12' : 'col-md-6'">
                        <ng-container  *ngTemplateOutlet="insideDashboard; context:{insideData : value,image : 'indicator_icons'}"></ng-container>
                        <app-groupBar [groupBarChartId]="'groupBar_' + type + (i+1+j)" [groupBarData]="value.details"></app-groupBar>
                    </div>
                </ng-container>
            </ng-container>
        </ng-container>

        <!-- environmental section start -->
        <ng-container *ngIf="['environmentalPie','environmentalTimeLine','environmentalGroupBar','environmentalDonut'].includes(type) && currentSubTab === 'environmentImpact'">
            <ng-container *ngIf="type === 'environmentalPie'">
                <ng-container *ngIf="childTabEnvironment === value.theme_name">
                    <div class="mat-card m-2 p-0">
                        <ng-container *ngTemplateOutlet="insideDashboard; context:{insideData : value,image : 'indicator_icons'}"></ng-container>
                       <app-pie [pieChartId]="'pie_' + type + (i+1+j)" [pieData]="value.short_key"></app-pie>
                    </div>
                </ng-container>
            </ng-container>
            <ng-container *ngIf="type === 'environmentalTimeLine'">
                <ng-container *ngIf="(childTabEnvironment === value.theme_name) && type === 'environmentalTimeLine'">
                    <div class="mat-card m-2 p-0">
                        <ng-container *ngTemplateOutlet="insideDashboard; context:{insideData : value,image : 'indicator_icons'}"></ng-container>
                        <app-groupBar [groupBarChartId]="'environmentalTimeLine' + value.theme_name + (i+1+j)" [groupBarData]="value.short_key" [type]="'timeline'"></app-groupBar> 
                    </div>
                </ng-container>
            </ng-container>

            <ng-container *ngIf="type === 'environmentalGroupBar'">
                <ng-container *ngIf="value.theme_name === childTabEnvironment && childTabEnvironment !== 'Water'">
                    <div class="mat-card m-2 p-0" [ngClass]="['Energy','Chemical'].includes(childTabEnvironment) ? 'col-md-6' : 'col-md-12'">
                        <ng-container *ngTemplateOutlet="insideDashboard; context:{insideData : value,image : 'indicator_icons'}"></ng-container>
                        <app-groupBar [groupBarChartId]="'environmentalGroupBar_' + value.theme_name + (i+1+j)"  [groupBarData]="value.details"></app-groupBar> 
                    </div> 
                </ng-container>

                <ng-container *ngIf="value.theme_name === childTabEnvironment && !(['Energy','Chemical'].includes(childTabEnvironment))">
                    <ng-container *ngFor="let insideItem of value.details let k=index">
                        <div class="mat-card" [ngClass]="childTabEnvironment === 'Water' ? 'col-md-5 mx-auto' : '' ">
                            <ng-container *ngTemplateOutlet="insideDashboard; context:{insideData : insideItem,image : 'indicator_icons'}"></ng-container>
                            <app-time-line [chartId]="'environmentalGroupBar_water_' + insideItem.question_label  + (i+j+k+1)"  [chartData]="insideItem.values" [chartLabel]="insideItem.question_label"></app-time-line>
                        </div>
                    </ng-container>
                </ng-container>
            </ng-container>

            <ng-container *ngIf="type === 'environmentalDonut'">
                <ng-container  *ngIf="childTabEnvironment === value.theme_name">
                    <div class="mat-card m-2 p-0" [ngClass]="childTabEnvironment === 'Chemical' ? 'col-md-6' : '' ">
                        <ng-container  *ngTemplateOutlet="insideDashboard; context:{insideData : value,image : 'indicator_icons'}"></ng-container>
                    <app-donut [donutChartId]="'environmentalDonut_' + value.theme_name + (i+1+j)" [donutData]="value.short_key"></app-donut> 
                    </div>
                </ng-container>
            </ng-container>
        </ng-container>
    </ng-container>
</ng-template>


<div  [ngClass]="currentSubTab === 'socialImpact' ? 'row m-2':'row justify-content-between align-item-center'">
    <ng-container *ngFor="let tab of currentTab; let i=index">
            <ng-container *ngIf="currentSubTab === 'impactSummary'">
                <div [ngClass]="tab === 'programViewIpsa' ? 'col-md-12' : 'col-md-6'">
                    <ng-container *ngTemplateOutlet="dashboardTemplate; context:{data : dashboardData[tab][0].data , index : i,key:tab}"></ng-container>
                </div>
            </ng-container>
            <ng-container *ngIf="currentSubTab === 'socialImpact'">
                    <ng-container *ngTemplateOutlet="dashboardTemplate; context:{data : dashboardData[tab][0].data , index : i,key:tab}"></ng-container>
            </ng-container>
            <ng-container *ngIf="currentSubTab === 'environmentImpact'">
                <div [ngClass]="(childTabEnvironment === 'Water' && tab === 'environmentalGroupBar' && i !=0) ? 'row justify-content-md-between' : 'col-md-12'">
                    <ng-container *ngTemplateOutlet="dashboardTemplate; context:{data : dashboardData[tab][0].data , index : i,key:tab}"></ng-container>
                </div>
            </ng-container>
    </ng-container>
</div>